.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px 20px;
    top: 10px;
    left: 10px;
    background-color: #ffffff;
    z-index: 1000;

}

.logo-whatsapp {
    width: 60px;
    height: 60px;
    margin-right: 8px;
}

.text-whatsapp {
    font-size: 25px;
    font-weight: bold;
    color: #25d366;
    font-family: Arial, sans-serif;
}

.caja-descarga {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border: 1px solid #111b21;
    border-radius: 50px;
    padding: 12px 20px;
    margin: 20px auto;
    max-width: 925px;
    height: 115px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.caja-logo {
    width: 125px;
    height: 90px;
    margin-right: 35px;
    border-radius: 10px;
}

.caja-textos {
    flex: 1;
    margin: 0 20px;
}

.caja-texto {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    color: #111b21;
}

.parrafo {
    margin: 4px 0 0 0;
    font-size: 15px;
    color: #111b21;
    line-height: 1.4;

}

.caja-boton {
    background-color: #25d366;
    font-size: 20px;
    color: #111b21;
    border: 1px solid black;
    border-radius: 30px;
    padding: 10px 24px;
    cursor: pointer;
    transition: background 0.3s ease;
}
.arrow-down{
    font-weight: 100;   
    
}

.caja-boton:hover {
    background-color: #111b21;
    color:#ddd;
}

.caja-pasos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border: 1px solid #111b21;
    border-radius: 50px;
    padding: 30px;
    margin: 40px auto;
    max-width: 925px;
    height: 405px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.inicio {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 30px;
}

.pasos {
    flex: 1;
}
li img{
    vertical-align: middle;
}

.pasos h1 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 400;
    color: #111b21;
}

.pasos ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}

.pasos ul li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 20px;
}

.pasos ul li::before {
    content: "";
    width: 28px;
    height: 28px;
    border: 2px solid #111b21;
    border-radius: 50%;
    position: absolute;
    left: 10px;    
    top: 5px;
    z-index: 1;
    content: counter(step);
    counter-increment: step;
    
}

.pasos ul {
    list-style: none;
    margin: 0;
    padding: 0;
    counter-reset: step;
}

.pasos ul li {
    position: relative;
    margin: 20px 0;
    padding-left: 40px;
    font-size: 15px;
    color: #111b21;
}

.pasos ul li::before {
    
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    border: 2px solid #111b21;
    border-radius: 50%;
    background: white;
    color: #111b21;
    font-size: 13px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pasos ul li::after {
    content: "";
    position: absolute;
    left: 11px;
    top: 24px;
    width: 2px;
    height: calc(100% - 24px);
    background: #25d366;
}


.pasos ul li:last-child::after {
    display: none;
}

.qr-whatsapp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.qr-whatsapp img {
    border: 1px solid #ddd;
    border-radius: 8px;
}

.qr-whatsapp p {
    margin-top: 12px;
    font-size: 14px;
    color: #111b21;
    cursor: pointer;
}

.mantener-sesion {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    margin-top: 12px;
    cursor: pointer;
    color: #111b21;
}
.mantener {
  display: inline-flex;
  align-items: center;
  gap: 4px;
}
.info-icon {
  margin-left: 4px;
  cursor: pointer;
  font-weight: bold;
  color: gray;
  transition: color 0.2s;
}
.info-icon:hover {
  color: black;
}

.mantener-sesion input[type="checkbox"] {
    width: 18px;
    height: 18px;
    accent-color: #25D366;
    cursor: pointer;
}

.footer {
    text-align: center;
    margin-top: 30px;
    color: #111b21;
    font-size: 15px;
}

.footer p {
    margin: 8px 0;
}

.footer .mensaje {
    font-size: 14px;
    color: gray;
}

.footer .condiciones {
    font-size: 12px;
    color: gray;
}
.condiciones{
    text-decoration: none;
}

.condiciones:hover {
    text-decoration: underline;
}

.link-verde {
    text-decoration: underline;
    text-decoration-color: #25D366;
    font-weight: 550;
    transition: color 0.2s ease;
    cursor: pointer;
}

.link-verde:hover {
    text-decoration-thickness: 3px;
}

.flecha {
    font-size: 15px;
    margin-left: 5px;
}

.link-verde:hover {
    color: #25d366;
}

.link-verde:hover .flecha {
    stroke: #25d366;
}
.iniciar-sesion {
  cursor: pointer;
  color: #111b21; 
  display: inline-flex;
  align-items: center;
  gap: 4px; 
  text-decoration: underline;
}

.iniciar-sesion:hover {
  color: #25d366; 
  text-decoration: underline;
}

.flecha {
  font-weight: bold;
  transition: color 0.3s ease;
}
